Transformace dat/Profil_Zadavatele_137_2006_SchemaVZ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
		   xmlns:dc="http://purl.org/dc/elements/1.1/" 
		   xmlns:dcterm="http://purl.org/dc/terms/" 
		   xmlns:xml="http://www.w3.org/XML/1998/namespace" 
		   xmlns="urn:cz:isvz:mmr:schemas:vz-z-profilu-zadavatele:v100" 
		   xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" 
		   xmlns:bus="urn:cz:isvs:micr:schemas:BusinessTypes:v2" 
		   xmlns:spa="urn:cz:isvs:micr:schemas:SpaceTypes:v1" 
		   xmlns:cmn="urn:cz:isvs:micr:schemas:CommonTypes:v1"
		   xmlns:dep="urn:cz:isvs:micr:schemas:DataElementsTypes:v1"
		   targetNamespace="urn:cz:isvz:mmr:schemas:vz-z-profilu-zadavatele:v100" 
		   elementFormDefault="qualified" 
		   attributeFormDefault="unqualified"
		   version="1.0.1.03">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu zprávy pro získání dat o veřejné zakázce z profilu zadavatele  verze 1.01 - rozšířená</xs:documentation>
		<xs:appinfo>
			<rdf:RDF>
				<rdf:Description rdf:about="urn:cz:isvz:mmr:schemas:vz-z-profilu-zadavatele:v100" xml:lang="cs">
					<dc:creator>Petr Korotwitschka(korotwitschka@asd-software.cz)</dc:creator>
					<dc:contributor>Martin Nečaský (necasky@opendata.cz</dc:contributor>
					<dc:contributor>Jiří Skuhrovec(jiri.skuhrovec@eeip.cz)</dc:contributor>
					<dc:description>
						Rozšířené XML schéma zprávy pro získání dat o veřejné zakázce z profilu zadavatele rozšířený ve verzi 1.01 o nepovinné položky, schéma je zpětně kompatibilní
						version="1.0.1.01" - Změna ve struktuře seznamu dokumentů a dodatků VZ
						version="1.0.1.02" - Doplnění struktury migrace do VZ
						version="1.0.1.03" - u elementu cena_celkem_dle_smlouvy_bez_DPH opraven popis
						version="1.0.1.04" - rozsiren seznam podporovanych druhu zadavacich rizeni - element DruhZadavacihoRizeniType
					</dc:description>
					<dc:identifier/>
					<dc:publisher>Ministerstvo pro místní rozvoj ČR</dc:publisher>
					<dc:rights></dc:rights>
					<dc:source/>
					<dc:type>XML Schema</dc:type>
					<dcterm:created>2014-03-18</dcterm:created>
					<dcterm:valid/>
					<dc:subject>VZ request</dc:subject>
					<dc:format>text/xml</dc:format>
				</rdf:Description>
			</rdf:RDF>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:micr:schemas:CommonTypes:v1" schemaLocation="http://www.sluzby-isvs.cz/isdp/xsd/isvs_common.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" schemaLocation="http://www.sluzby-isvs.cz/isdp/xsd/CoreComponentTypes.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:BusinessTypes:v2" schemaLocation="http://www.sluzby-isvs.cz/isdp/xsd/isvs_business.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:SpaceTypes:v1" schemaLocation="http://www.sluzby-isvs.cz/isdp/xsd/isvs_space.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:DataElementsTypes:v1" schemaLocation="http://www.sluzby-isvs.cz/isdp/xsd/isvs_dp.xsd"/>
	<xs:element name="profil" type="ProfilStructure"/>
	<xs:complexType name="ProfilStructure">
		<xs:annotation>
			<xs:documentation>Kořenová struktura pro předání seznamu VZ z profilu zadavatele</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="profil_kod" type="ProfilKodType"/>
			<xs:element name="zadavatel" type="ZadavatelStructure"/>
			<xs:element name="zakazka" type="ZakazkaStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UchazecStructure">
			<xs:annotation>
			<xs:documentation>
				Struktura pro předání základních informacích o uchazeči VZ
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ico" type="IcoType"/>
			<xs:element name="nazev_uchazece" type="bus:SubjektObchodniJmenoType">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Název nebo obchodní firma uchazeče v případě právnické osoby/ jméno, příjmení uchazeče v případě fyzické osoby</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="zeme_sidla" type="spa:StatKodType"/>
				<xs:element name="misto_podnikani" type="spa:StatKodType"/>
				<xs:element name="bydliste" type="spa:StatKodType"/>
			</xs:choice>
			<xs:element name="cena_s_dph" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Nabídková cena uchazeče s DPH</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdruzeni" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Uchazeč je sdružením dodavatelů (identifikován je pak vedoucí účastník)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vyrazen" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Uchazeč byl/nebyl vyřazen
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="duvod_vyrazeni" type="DuvodVyrazeniUchazeceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Důvod vyřazení uchazeče (u zjednodušeného podlimitního řízení může být využito k informování uchazeče o vyřazení podle §60 a §76 ZVZ)
						Pokud byl uchazeč vyřazen, tak se povinně uvádí se druh důvodu
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nabidka" type="NabidkaStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Nabídka - uvádí se seznam čísel částí VZ společně s nabídkovou cenou s DPH</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZakazkaStructure">
		<xs:sequence>
		  <xs:annotation>
		  	<xs:documentation>Seznam všech dílčích veřejných zakázek evidovaných na profilu zadavatele. Rozsah seznamu je dán parametry samotného dotazu ze strany IS VZ</xs:documentation>
		  </xs:annotation>
			<xs:element name="vz" type="VZStructure"/>
			<xs:element name="uchazec" type="UchazecStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dodavatel" type="DodavatelStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="url_zakazky" type="cmn:URLType" minOccurs="0"/>
			<xs:element name="url_zakazky_xml" type="cmn:URLType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfilKodType">
		<xs:annotation>
			<xs:documentation>
				Identifikátor profilu zadavatele
				- jedná se o evidenční číslo profilu zadavatele ve Věstníku veřejných zakázek přidělené na základě Oznámení profilu zadavatele
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VZStructure">
		<xs:sequence>
    	<xs:annotation>
		  	<xs:documentation>
				Základní informace charakterizující konkrétní zakázku
			</xs:documentation>
		  </xs:annotation>
			<xs:element name="kod_vz_na_profilu" type="KodVzNaProfiluType">
				<xs:annotation>
					<xs:documentation xml:lang="cz">
						Jednoznačný identifikátor veřejné zakázky evidované na profilu zadavatele odpovídající struktuře PrrVnnnnnnnn, kde:
						„P“ specifikuje, že se jedná o veřejnou zakázku uveřejněnou na profilu zadavatele
						„rr“ specifikuje poslední dvojčíslí letopočtu
						„V“ specifikuje, že se jedná o veřejnou zakázku
						„nnnnnnnn“ udává osmimístné pořadové číslo veřejné zakázky přidělené zadavatelem v příslušném roce
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kod_vz_na_usvzis" type="KodVZNaUsvzisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Evidenční číslo veřejné zakázky ve Věstníku veřejných zakázek - uvádí se, je-li veřejná zakázka uveřejněna ve Věstníku veřejných zakázek</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nazev_vz" type="NazevVZType"/>
			<xs:element name="stav_vz" type="StavVZType"/>
			<xs:element name="druh_zadavaciho_rizeni" type="DruhZadavacihoRizeniType"/>
			<xs:element name="zpusob_zahajeni_vz" type="ZpusobZahajeniVzType" minOccurs="0"/>
			<xs:element name="hlavni_cpv" type="PredmetKodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Klasifikace hlavního předmětu pomocí CPV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vedlejsi_cpv" type="PredmetKodType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Klasifikace vedlejšího předmětu pomocí kódů CPV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="popis" type="PoznamkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Popis zakázky - jedná se o popis předmětu VZ volným textem</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nuts_hlavniho_mista_plneni" type="KrajNutsKodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Místo plnění VZ - jedná se o NUTS kód hlavního místa plnění VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predpokladana_hodnota" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Předpokládaná hodnota v Kč (bez DPH)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zpusob_hodnoceni" type="ZpusobHodnoceniType" minOccurs="0"/>
			<xs:element name="predmet_vz" type="PredmetZakazkyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Předmět zakázky</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typ_vz" type="TypZakazkyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Číselník typu VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lhuta_pro_podani_nabidek" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lhůta pro podání nabídek</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="elektronicka_aukce" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Jedná se o elektronickou aukci (§17 ZVZ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ramcova_smlouva" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Jedná se o rámcovou smlouvu (§11 ZVZ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aplikovan_par_101_zv" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0"/>
			<xs:element name="centralizovane_zadavani" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0"/>
			<xs:element name="zavedeni_dns" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Jedná se o zavedení DNS (§93 ZVZ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="posledni_zmena" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Poslední změna ve zveřejněných datech</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zadavano_jmenem_sdruzeni" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Zadáváno jménem sdružení zadavatelů (§2 ZVZ)
						Pokud je zadáváno jménem sdružení zadavatelů, tak se povinně uvádí identifikace vedoucího účastníka pomocí IČO
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vedouci_ucastnik_ico" type="IcoType" minOccurs="0"/>
			<xs:element name="zadavano_jmenem_jineho_zadavatele" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Zadáváno jménem jiného zadavatele (§3 ZVZ)
						Pokud je zadáváno jménem jiného zadavatele, tak se povinně uvádí IČO a název nebo obchodní firma jiného zadavatele
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ico_zadavatele_jehoz_jmenem_je_zadano" type="IcoType" minOccurs="0"/>
			<xs:element name="nazev_zadavatele_jehoz_jmenem_je_zadano" type="bus:SubjektObchodniJmenoType" minOccurs="0"/>
			<xs:element name="dokument" type="DokumentVzStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Seznam dokumentů VZ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ocekavany_pocet_vitezu_rs" type="cct:PocetType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Očekávaný počet vítězných uchazečů rámcové smlouvy podle §89 odst 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vyuzita_dotace" type="ZdrojFinancovaniVzStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="datum_cas_zverejneni" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Čas zveřejnění - uvádí se datum včetně hodiny a minuty zpřístupnění VZ na profilu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datum_zahajeni_vz" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum zahájení VZ (datum odeslání výzvy dodavatelům, v případě uveřejnění VZ na VVZ odpovídá datumu uveřejnění formuláře F02, F05 nebo F04, která je výzvou k soutěži)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datum_proplaceni" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum proplacení - datum faktické úhrady poslední platby celé VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cast_zakazky" type="CastVzStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="migrace" type="MigraceStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RozpadStructure">
		<xs:sequence>
		  <xs:annotation>
		  	<xs:documentation>
				Specifikuje cenový rozpad ceny díla v jednotlivých letech pro uvedeného dodavatele
			</xs:documentation>
		  </xs:annotation>
			<xs:element name="rok_smlouvy" type="cct:PocetType" minOccurs="0"/>
			<xs:element name="cena_za_rok_bez_dph" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Skutečně uhrazená cena bez DPH v jednotlivých letech plnění – uvádí veřejný zadavatel, pokud došlo k realizaci veřejné zakázky</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cena_za_rok_s_dph" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Skutečně uhrazená cena s DPH v jednotlivých letech plnění - uvádí veřejný zadavatel, pokud došlo k realizaci veřejné zakázky</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KodVzNaProfiluType">
		<xs:annotation>
			<xs:documentation>Identifikátor VZ na profilu zadavatele</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:minLength value="6"/>
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KodVZNaUsvzisType">
		<xs:annotation>
			<xs:documentation>Evidenční číslo VZ v IS VZUS</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:minLength value="1"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NazevVZType">
		<xs:annotation>
			<xs:documentation>Název VZ</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StavVZType">
		<xs:annotation>
			<xs:documentation>Stav VZ</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="VZ neukončena">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Veřejná zakázka neukončena</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="VZ byla zadána">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Veřejná byla zadána</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="VZ byla zrušena">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Veřejná zakázka byla zrušena</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Ukončeno plnění smlouvy na základě VZ">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Ukončeno plnění smlouvy na základě veřejné zakázky</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DruhZadavacihoRizeniType">
		<xs:annotation>
			<xs:documentation>Druh zadávacího řízení</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
        <xs:enumeration value="Zavedení DNS v otevřeném řízení">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Zavedení DNS v otevřeném řízení</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
        <xs:enumeration value="Zadávání VZ v DNS">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Zadávání VZ v DNS</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
        <xs:enumeration value="Přímé zadání">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Přímé zadání</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
        <xs:enumeration value="Minitendr">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Minitendr</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
        <xs:enumeration value="Koncesní řízení (bez koncesního dialogu)">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Koncesní řízení (bez koncesního dialogu)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
        <xs:enumeration value="Koncesní řízení s koncesním dialogem">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Koncesní řízení s koncesním dialogem</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
        <xs:enumeration value="Výběr subdodavatele stavebních prací v koncesích">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Výběr subdodavatele stavebních prací v koncesích</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
        <xs:enumeration value="Otevřená výzva subdodavateli">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Otevřená výzva subdodavateli</xs:documentation>
					</xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Uzavřená výzva subdodavateli">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Uzavřená výzva subdodavateli</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
          <xs:enumeration value="Přímé zadání subdodavateli">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Přímé zadání subdodavateli</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Průzkum trhu">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Průzkum trhu</xs:documentation>
					</xs:annotation>
        </xs:enumeration>
				<xs:enumeration value="Otevřené řízení">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Otevřené řízení</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Užší řízení">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Užší řízení</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Jednací řízení s uveřejněním">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Jednací řízení s uveřejněním</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Jednací řízení bez uveřejnění">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Jednací řízení bez uveřejnění</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Soutěžní dialog">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Soutěžní dialog</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Zjednodušené podlimitní řízení">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Zjednodušené podlimitní řízení</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Soutěž o návrh">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Soutěž o návrh</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Zakázka malého rozsahu">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Zakázka malého rozsahu</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Minitendr">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Minitendr (zadání na základě rámcové smlouvy podle §89 odst. 6 ZVZ)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Nákup v DNS">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Nákup v DNS</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DodavatelStructure">
		<xs:sequence>
			<xs:annotation>
		 	  <xs:documentation>
				  Struktura pro předání informací o vítězném uchazači (=dodavateli VZ)
			  </xs:documentation>
		  </xs:annotation>
			<xs:element name="ico" type="IcoType"/>
			<xs:element name="nazev_dodavatele" type="bus:SubjektObchodniJmenoType">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Název nebo obchodní firma uchazeče v případě právnické osoby/ jméno, příjmení uchazeče v případě fyzické osoby</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="zeme_sidla_dodavatele" type="spa:StatKodType"/>
				<xs:element name="misto_podnikani_dodavatele" type="spa:StatKodType"/>
				<xs:element name="bydliste_dodavatele" type="spa:StatKodType"/>
			</xs:choice>
			<xs:element name="cena_celkem_dle_smlouvy_DPH" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Celková cena dle smlouvy s DPH – uvádí veřejný zadavatel, pokud byla smlouva uzavřena</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cena_celkem_dle_smlouvy_bez_DPH" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Celková cena dle smlouvy bez DPH – uvádí veřejný zadavatel, pokud byla smlouva uzavřena</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rozpad" type="RozpadStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subdodavatel" type="SubdodavatelStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="smlouva" type="SmlouvaStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Smlouva (podle §147a ZVZ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubdodavatelStructure">
		<xs:sequence>
			<xs:annotation>
		 		<xs:documentation>
					Základních informace o subdodavateli konkrétního dodavatele
				</xs:documentation>
			</xs:annotation>
    		<xs:element name="ico_sub" type="IcoType"/>
			<xs:element name="nazev_sub" type="bus:SubjektObchodniJmenoType">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Název nebo obchodní firma uchazeče v případě právnické osoby/ jméno, příjmení uchazeče v případě fyzické osoby</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="zeme_sidla_sub" type="spa:StatKodType"/>
				<xs:element name="misto_podnikani_sub" type="spa:StatKodType"/>
				<xs:element name="bydliste_sub" type="spa:StatKodType"/>
			</xs:choice>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZadavatelStructure">
		<xs:sequence>
		 <xs:annotation>
		 	<xs:documentation>
				Identifikace zadavatele VZ
			</xs:documentation>
		 </xs:annotation>
			<xs:element name="ico_vlastni" type="IcoType"/>
			<xs:element name="nazev_zadavatele" type="bus:SubjektObchodniJmenoType"/>
			<xs:element name="zeme_sidla" type="spa:StatKodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Země sídla (dvoumístný kód podle ISO 3166)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdruzeni_zadavatelu" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Sdružení zadavatelů – příznak, zde se jedná o sdružení zadavatelů. Pokud zakázku zadává sdružení zadavatelů, zveřejněna je na profilu vedoucího účastníka s jeho údaji.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typ_zadavatele" type="TypZadavateleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typ zadavatele</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="druh_verejneho_zadavatele" type="DruhVerejnehoZadavateleType" minOccurs="0"/>
			<xs:element name="jiny_druh_verejneho_zadavatele" type="NazevType" minOccurs="0"/>
			<xs:element name="hlavni_predmet_cinnosti_zadavatele" type="HlavniPredmetCinnostiZadavateleType" minOccurs="0"/>
			<xs:element name="jiny_hlavni_predmet_cinnosti_zadavatele" type="NazevType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IcoType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="10" />
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="TypZadavateleType">
		<xs:annotation>
			<xs:documentation>
				Typ zadavatele
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Veřejný">
					<xs:annotation>
						<xs:documentation xml:lang="cz">a.	Veřejný</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Dotovaný">
					<xs:annotation>
						<xs:documentation xml:lang="cz">b.	Dotovaný</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Sektorový">
					<xs:annotation>
						<xs:documentation xml:lang="cz">c.	Sektorový</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DruhVerejnehoZadavateleType">
		<xs:annotation>
			<xs:documentation>
				Druh veřejného zadavatele
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Ministerstvo nebo jiný celostátní či federální orgán včetně jejich organizačních složek">
					<xs:annotation>
						<xs:documentation xml:lang="cz">a.	Ministerstvo nebo jiný celostátní či federální orgán včetně jejich organizačních složek</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Celostátní či federální úřad/agentura">
					<xs:annotation>
						<xs:documentation xml:lang="cz">b.	Celostátní či federální úřad/agentura</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Regionální či místní orgán">
					<xs:annotation>
						<xs:documentation xml:lang="cz">c.	Regionální či místní orgán</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Regionální či místní úřad/agentura">
					<xs:annotation>
						<xs:documentation xml:lang="cz">d.	Regionální či místní úřad/agentura</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Veřejnoprávní instituce">
					<xs:annotation>
						<xs:documentation xml:lang="cz">e.	Veřejnoprávní instituce</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Evropská instituce/agentura nebo mezinárodní organizace">
					<xs:annotation>
						<xs:documentation xml:lang="cz">f.	Evropská instituce/agentura nebo mezinárodní organizace</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Jiný - zadavatel uvede textem druh veřejného zadavatele">
					<xs:annotation>
						<xs:documentation xml:lang="cz">g.	Jiný - zadavatel uvede textem druh veřejného zadavatele</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="HlavniPredmetCinnostiZadavateleType">
		<xs:annotation>
			<xs:documentation>
				Hlavní předmět činnosti zadavatele
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Služby pro širokou veřejnost">
					<xs:annotation>
						<xs:documentation xml:lang="cz">a.	Služby pro širokou veřejnost</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Obrana">
					<xs:annotation>
						<xs:documentation xml:lang="cz">b.	Obrana</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Veřejný pořádek a bezpečnost">
					<xs:annotation>
						<xs:documentation xml:lang="cz">c.	Veřejný pořádek a bezpečnost</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Životní prostředí">
					<xs:annotation>
						<xs:documentation xml:lang="cz">d.	Životní prostředí</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Hospodářské a finanční záležitosti">
					<xs:annotation>
						<xs:documentation xml:lang="cz">e.	Hospodářské a finanční záležitosti</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Zdravotnictví">
					<xs:annotation>
						<xs:documentation xml:lang="cz">f.	Zdravotnictví</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Bydlení a občanská vybavenost">
					<xs:annotation>
						<xs:documentation xml:lang="cz">g.	Bydlení a občanská vybavenost</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Sociální služby">
					<xs:annotation>
						<xs:documentation xml:lang="cz">h.	Sociální služby</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Rekreace, kultura a náboženství">
					<xs:annotation>
						<xs:documentation xml:lang="cz">i.	Rekreace, kultura a náboženství</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Školství">
					<xs:annotation>
						<xs:documentation xml:lang="cz">j.	Školství</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Jiný - zadavatel uvede textem hlavní předmět činnosti">
					<xs:annotation>
						<xs:documentation xml:lang="cz">k.	Jiný - zadavatel uvede textem hlavní předmět činnosti</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ZpusobZahajeniVzType">
		<xs:annotation>
			<xs:documentation>
				Způsob zahájení veřejné zakázky
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="výzvou">
					<xs:annotation>
						<xs:documentation xml:lang="cz">výzvou</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="oznámením">
					<xs:annotation>
						<xs:documentation xml:lang="cz">oznámením</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ZpusobHodnoceniType">
		<xs:annotation>
			<xs:documentation>
				Způsob hodnocení
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Nejnižší nabídková cena">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Nejnižší nabídková cena</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Ekonomická výhodnost nabídky">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Ekonomická výhodnost nabídky</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Přímé zadání">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Přímé zadání (zakázka byla přímo zadána danému dodavateli)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Oslovení několika zájemců">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Oslovení několika zájemců (více než jeden zájemce byl vyzván k podání nabídky)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Veřejná soutěž">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Veřejná soutěž (výzva byla veřejně oznámena, s možností účasti předem neomezeného počtu dodavatelů)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PredmetZakazkyType">
		<xs:annotation>
			<xs:documentation>
				Předmět zakázky
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Dodávky">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Dodávky</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Služby">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Služby</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Stavební práce">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Stavební práce</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TypZakazkyType">
		<xs:annotation>
			<xs:documentation>
				Typ zakázky - uvádí se, pokud se nejedná o minitendry a nákupy v DNS:
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Nadlimitní">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Nadlimitní</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Podlimitní">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Podlimitní</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Malého rozsahu">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Malého rozsahu</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PredmetKodType">
		<xs:annotation>
			<xs:documentation>Obecný datový typ pro kód CPV</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="8"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PoznamkaType">
		<xs:annotation>
			<xs:documentation>Obecný datový typ pro poznámku VZ do rozsahu 1024 znaků</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="1024"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KrajNutsKodType">
		<xs:annotation>
			<xs:documentation>
				Kód NUTS kraje je číselný prostorový identifikátor prvku prostorové identifikace „kraj“. Kód NUTS kraje je určen po vzniku oblasti číselníkem. Kód NUTS kraje je jedinečný v rámci České republiky.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:pattern value="(CZ)([Z,0]{0,1})([Z,0-9]{0,2})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DokumentVzStructure">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
				</xs:documentation>
			</xs:annotation>
			<xs:element name="url" type="cmn:URLType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">URL, na které je dokument umístěn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typ_dokumentu" type="TypDokumentuType" minOccurs="0"/>
			<xs:element name="jiny_dokument_nazev" type="NazevType" minOccurs="0"/>
			<xs:element name="cas_vlozeni_na_profil" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum a čas vložení této verze dokumentu na profil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cislo_verze" type="cct:PocetType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypDokumentuType">
		<xs:annotation>
			<xs:documentation>
				Typ dokumentu
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Zadávací dokumentace">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Zadávací dokumentace (nebo její textová část, § 48 ZVZ)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Písemná výzva ve zjednodušeném podlimitním řízení">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Písemná výzva ve zjednodušeném podlimitním řízení (§ 38 ZVZ)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Dodatečné informace">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Dodatečné informace (§ 49 ZVZ)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Výzva k podání nabídek na základě rámcové smlouvy">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Výzva k podání nabídek na základě rámcové smlouvy (§92 ZVZ), může jich být více k jedné rámcové smlouvě</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Oznámení o výběru nejvhodnější nabídky">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Oznámení o výběru nejvhodnější nabídky (§81 ZVZ)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Písemná zpráva zadavatele">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Písemná zpráva zadavatele (§85 ZVZ)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Smlouva o sdružení zadavatelů">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Smlouva o sdružení zadavatelů (§2 ZVZ)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Smlouva s dodavatelem">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Smlouva s dodavatelem (§82 ZVZ) (vyplňuje se pokud není evidován u dodavatele)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Dodatek smlouvy">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Dodatek smlouvy (vyplňuje se pokud není evidován u dodavatele)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Jiný dokument">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Jiný dokument</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NazevType">
		<xs:annotation>
			<xs:documentation>Název</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ZdrojFinacovaniVzType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="dotace ze státního rozpočtu">
					<xs:annotation>
						<xs:documentation xml:lang="cz">dotace ze státního rozpočtu - bližší identifikace akce (např. číslo projektu, rozhodnutí, č.j. ap.)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="příspěvky z veřejných a jiných rozpočtů">
					<xs:annotation>
						<xs:documentation xml:lang="cz">příspěvky z veřejných a jiných rozpočtů - bližší identifikace akce (např. číslo projektu, rozhodnutí, č.j. ap.)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="prostředky podle zvláštního právního předpisu">
					<xs:annotation>
						<xs:documentation xml:lang="cz">prostředky podle zvláštního právního předpisu - bližší identifikace akce (např. číslo projektu, rozhodnutí, č.j. ap.)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="prostředky z fondů EU nebo podobných fondů a zdrojů">
					<xs:annotation>
						<xs:documentation xml:lang="cz">prostředky z fondů EU nebo podobných fondů a zdrojů - pokud ano pak volitelně číslo projektu</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="jiný zdroj">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Jiný zdroj, pokud ano uveďte jeho název a bližší identifikaci akce (např. číslo projektu, rozhodnutí, č.j. ap.)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ZdrojFinancovaniVzStructure">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
				</xs:documentation>
			</xs:annotation>
			<xs:element name="zdroj_financovani_vz" type="ZdrojFinacovaniVzType" minOccurs="0"/>
			<xs:element name="identifikace_zdroj_financovani" type="NazevType" minOccurs="0"/>
			<xs:element name="jiny_zdroj_nazev" type="NazevType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DuvodVyrazeniUchazeceType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Omezení počtu uchazečů">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Omezení počtu uchazečů</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Nesplnění kvalifikačních předpokladů">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Nesplnění kvalifikačních předpokladů</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Mimořádně nízká nabídková cena">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Mimořádně nízká nabídková cena</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Neúplná nebo nepřijatelná nabídka">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Neúplná nebo nepřijatelná nabídka</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Jiný důvod vyloučení nabídky">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Jiný důvod vyloučení nabídky</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NabidkaStructure">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
			<xs:element name="cislo_casti" type="cct:KodType" minOccurs="0"/>
			<xs:element name="nabidkova_cena_s_dph" type="cct:CenaType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CastVzStructure">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
				</xs:documentation>
			</xs:annotation>
			<xs:element name="cislo_casti" type="cct:KodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Číslo části - části VZ jsou značeny souvislou řadou začínající číslem 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nazev_casti_vz" type="NazevType" minOccurs="0"/>
			<xs:element name="popis_predmetu_vz" type="PoznamkaType" minOccurs="0"/>
			<xs:element name="stav" type="StavCastiVzType" minOccurs="0"/>
			<xs:element name="hlavni_cpv" type="PredmetKodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Klasifikace hlavního předmětu pomocí CPV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vedlejsi_cpv" type="PredmetKodType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Klasifikace vedlejšího předmětu pomocí kódů CPV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predpokladana_hodnota" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Předpokládaná hodnota v Kč (bez DPH)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="celkova_konecna_hodnota_v_kc_bez_dph" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Celková konečná hodnota části VZ v Kč bez DPH - uvádí se smluvní cena části VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nuts_hlavniho_mista_plneni" type="KrajNutsKodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Místo plnění části zakázky - jedná se o NUTS kód hlavního místa plnění části VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datum_proplaceni" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum proplacení - datum faktické úhrady poslední platby části VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ocekavane_zahajeni_plneni" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum očekávaného zahájení plnění části VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ocekavany_konec_plneni" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum očekávaný konec plnění - uvádí se pokud je VZ na dobu určitou</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datum_zruseni" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum zrušení části VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="duvod_zruseni" type="PoznamkaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Popis důvodu zrušení VZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zpusob_hodnoceni" type="ZpusobHodnoceniType" minOccurs="0"/>
			<xs:element name="zpusob_hodnoceni_textem" type="NazevType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StavCastiVzType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="Část VZ byla zadána">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Část VZ byla zadána - byla uzavřena smlouva s dodavatelem</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Část VZ byla zrušena">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Část VZ byla zrušena</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Ukončeno plnění smlouvy části VZ">
					<xs:annotation>
						<xs:documentation xml:lang="cz">Ukončeno plnění smlouvy části VZ</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SmlouvaStructure">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Pokud se uvádí smlouva, tak se povinně zadává typ dokumentu ("název") a datum podpisu smlouvy
				</xs:documentation>
			</xs:annotation>
			<xs:element name="dokument" type="DokumentVzStructure" minOccurs="0"/>
			<xs:element name="cislo_casti" type="cct:KodType" minOccurs="0"/>
			<xs:element name="celkova_cena_dle_smlouvy_bez_dph" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">celková cena dle smlouvy odpovídající části VZ bez DPH – uvádí veřejný zadavatel, pokud byla smlouva uzavřena</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="celkova_cena_dle_smlouvy_s_dph" type="cct:CenaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">celková cena dle smlouvy odpovídající části s DPH – uvádí veřejný zadavatel, pokud byla smlouva uzavřena</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skutecne_uhrazena_cena" type="RozpadStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="datum_podpisu" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum podpisu smlouvy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="neurcita_doba" type="dep:DatovyPrvekJednoduchyTypIndikatorType" minOccurs="0"/>
			<xs:element name="dodatek" type="DodatekSmlouvyStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DodatekSmlouvyStructure">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
				</xs:documentation>
			</xs:annotation>
			<xs:element name="dokument" type="DokumentVzStructure" minOccurs="0"/>
			<xs:element name="datum_podpisu" type="cct:DatumCasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cz">Datum podpisu dodatku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MigraceStructure">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Uvádí se administrativní údaje k identifikaci původního profilu zadavatele v případě, že původní VZ je přečíslována na novém profilu.
				</xs:documentation>
			</xs:annotation>
			<xs:element name="kod_vz_na_profilu_puvodni" type="KodVzNaProfiluType">
				<xs:annotation>
					<xs:documentation xml:lang="cz">
						Identifikace původní VZ - uvádí se evidenční číslo VZ na původním profilu
						Jednoznačný identifikátor veřejné zakázky evidované na profilu zadavatele odpovídající struktuře PrrVnnnnnnnn, kde:
						„P“ specifikuje, že se jedná o veřejnou zakázku uveřejněnou na profilu zadavatele
						„rr“ specifikuje poslední dvojčíslí letopočtu
						„V“ specifikuje, že se jedná o veřejnou zakázku
						„nnnnnnnn“ udává osmimístné pořadové číslo veřejné zakázky přidělené zadavatelem v příslušném roce
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profil_kod_puvodni" type="ProfilKodType">
				<xs:annotation>
					<xs:documentation xml:lang="cz">
						Identifikace původního profilu - uvádí se původním kód profilu
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
